.artist-list-section {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(4, 4rem);
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 15.75rem;
    width: 100%;
  }

  
  .artist-list {
    grid-column: 6 / 8;
    list-style: none;
    position: relative;
    z-index: 10;

    .active-arrow {
      position: absolute;
      right: 0;
      transform: translateY(20%);
    }

    li + li {
      margin-top: .5rem;
    }

    li {
      color: #797979;
      z-index: 10;

      button {
        background: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        font-size: .75rem;
        font-weight: bold;
        min-width: max-content;
        pointer-events: all;
        text-transform: uppercase;
        transition: color 0.25s ease-in-out;
      }

      &.active,
      button:hover {
        color: #080808;
      }
    }
  }